<div id="main-contents">

  <div style="border: 2px solid black">
    {{display_this}}
  </div>
  
  <a class="category">Settings</a>
  <form id="manage-expertise" method="POST" action="/manageAccount" onsubmit="return validate_expertise_form()">
  <input class="checkbox" type="checkbox" name="expertoptout" value="true"
    {% if not user.expert_opt_out %}
		  checked
	  {% endif %}>Let others hang out with me<br>
  <div class="information">(We will only show you as available when your calendar is free)</div>
  <br>

  <a class="category">My Areas of Expertise</a>
  {% for category in all_categories %}
    <div>
      <input
        id="{{category.name|slugify}}-checkbox"
        class="checkbox"
        type="checkbox"
        name="{{category.name}}"
        value="true"
        onclick="category_checked('{{category.name|slugify}}')"
    		{% if category.checked %}
    			checked
    		{% endif %}
  		/> {{category.name|title}} ({{category.checked}})
  	</div>
		<div
		  id="{{category.name|slugify}}-description"
		  class="sub-category"
  		{% if category.checked %}
  			style="display:block"
  		{% else %}
  		  style="display:none"
  		{% endif %}
		>
		  Subcategory:
		  <input
		    type="text"
		    name="{{category.name}} description"
		    value="{{category.description}}"
		  />
	  </div>
  {% endfor %}
	Other: <input type="text" name="other"><br><br>
	<input class="submitbutton" type="submit">
  </form>

</div>
