<div id="mini-navigation">
  {% for category in categories %}
    <a href="#{{category.name|slugify}}">
      {{ category.name|title }}
    </a>
  {% endfor %}
</div>

<div id="main-contents" class="test-blue">
  <!-- this is the search bar -->
  <div id="search-bar" class="ui-widget" style="margin: 20px;">
    <input id="search" type="text" value="type a search term here" style="width:75%; font-size: 18px; margin-left: auto; margin-right: auto; display: block"/>
  </div>
  
  <script>
  $(function() {
      var availableTags = [
        <!-- TODO: make this dynamic -->
        
        "health & wellness :: alternative healing",
        "handyman work :: bike repair",
        "pet care :: cats",
        "childcare :: childcare",
        "music/instruments :: classical music",
        "food/drinks :: cooking",
        "food/drinks :: cooking",
        "music/instruments :: Electronic Music Production",
        "event planning :: event planning",
        "transportation :: flying RC planes/gliders & driving cars",
        "food/drinks :: food science cooking",
        "food/drinks :: grilling",
        "music/instruments :: guitar, piano, drums, harmonica",
        "fashion/beauty/style :: haircutting & haircoloring",
        "fitness/sports :: handstands",
        "handyman work :: handyman & woodwork",
        "arts & crafts :: henna",
        "tech help :: home automation",
        "tech help :: infographics & data visualization",
        "translation/localization :: italian",
        "translation/localization :: spanish",
        "translation/localization :: portuguese",
        "translation/localization :: japanese",
        "arts & crafts :: knitting",
        "photography :: landscape photography",
        "fitness/sports :: long distance running",
        "health & wellness :: massage",
        "tech help :: meme creation",
        "food/drinks :: mixology",
        "health & wellness :: nutrition",
        "fitness/sports :: pencil spinning",
        "photography :: photography",
        "business :: project management",
        "communications :: public speaking",
        "finance :: real estate finance",
        "pet care :: reptiles",
        "career development :: resume writing",
        "educational tutoring :: SAT and math",
        "gaming :: scrabble",
        "arts & crafts :: sculpting",
        "fitness/sports :: synchronized swimming",
        "performing arts :: theater, voice and dance",
        "travel :: tours",
        "fitness/sports :: Unicycling & Fire Eating/Breathing & Juggling",
        "tech help :: VBA & SQL programming",
        "health & wellness :: yoga",
      ];
      $( "input#search" ).autocomplete({
          source: availableTags
      }).focus();
  });
  </script>
  
  <div id="expert-list">
  {% for category in categories %}
    <!-- write out the category -->
    <a id="{{category.name|slugify}}" class="category">
      {{ category.name|title }}
    </a>

    <!-- write out the experts with this category -->
    {% for area in category.areas %}
      <div class="expert test-green">
        <img class="profile" src="{{area.user_profile_pic}}"/>
        <div class="description test-purple">{{ area.description }}</div>
        <div class="user-name test-orange">with {{ area.user_name }}</div>
    
        {% if area.user_available %}
          <a class="hangoutlink" href="/connect?user={{area.user_email}}">
            <img src="static/hangout-button.png"
              alt="Start a Hangout"
              class="hangout"/>
          </a>
        {% else %}
          <a class="hangoutlink">
            <img src="static/hangout-button-faded.png"
              alt="Start a Hangout"
              class="hangout"/>
          </a>
        {% endif %}
        <!-- 
                        
        <div class="picturecolumn">

        </div>
        <div class="detailcolumn">
          <div class="username">
            {% if user_pair.0.name %}
              {{ user_pair.0.name }}
            {% else %}
              {{ user_pair.0.email }}
            {% endif %}</div>
          <div class="status">
            {% if user_pair.1 %}
              <img src="/static/cleardot.gif" class="avail">
              available
            {% else %}
              <img src="/static/cleardot.gif" class="unavail">
              unavailable
            {% endif %}
          </div>
        </div> -->
      </div>
    {% endfor %}
  {% endfor %}
  </div> <!-- expert list -->
</div>