<html>
<head>
  <title>Expert Connect</title>
  <link rel="stylesheet" type="text/css" href="/static/base.css"/>
</head>

<body>
  <!-- the title bar at the top of the screen -->
  <div id="titlebar">

    <!-- title of the app -->
    <span id="title">Expert Connect</span>
    
    <!-- options that the user has -->
    <span id="options">
    </span>
		
		<span id="account">
			{% if is_expert %}
				<a href="/manageAccount">Account Management</a>
			{% else %}
				<a href="/signUp">Sign up</a> to become an Expert!<br>
			{% endif %}
		</span>
  </div>
  
  <!-- this is where we see a list of experts -->
  <div class="centercolumn">
    {% for category_pair in categories %}
      <!-- write out the category -->
      <div class="category">
        {{ category_pair.0.name|title }}
      </div>
            
      <!-- write out the experts with this category -->
      {% for user in category_pair.1 %}
        <div class="expert">
					<div class="picturecolumn">
						<img class="profile" src="{{user.profile_pic}}"/>
					</div>
					<div class="detailcolumn">
	          <div class="username">
							{% if user.name %}
								{{ user.name }}
							{% else %}
								{{ user.email }}
							{% endif %}</div>
	          <div class="status">
							{% if user.is_available %}
								<img src="/static/cleardot.gif" class="avail">
								available
							{% else %}
								<img src="/static/cleardot.gif" class="unavail">
							  unavailable
							{% endif %}
	          </div>
					</div>
          <a class="hangoutlink" href="/connect?user={{user.email}}">
					  <img src="https://ssl.gstatic.com/s2/oz/images/stars/hangout/1/gplus-hangout-20x86-normal.png"
					    alt="Start a Hangout"
							class="hangout"/>
          </a>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
	<script type="text/javascript" src="/_ah/channel/jsapi"></script>
	<script type="text/javascript" src="/static/main.js"></script>
  <script>
    channel = new goog.appengine.Channel('{{ token }}');
    socket = channel.open();
    socket.onopen = onOpened;
    socket.onmessage = onMessage;
    socket.onerror = onError;
    socket.onclose = onClose;
  </script>
</body>
</html>
