<html>
<head>
  <title>Expert Connect</title>
  
  <!-- css -->
  
  <link rel="stylesheet" type="text/css" href="/static/base.css"/>
  <link rel="stylesheet" type="text/css" href="/static/smoothness/jquery-ui-1.8.21.custom.css"/>
  
  <!-- javascript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
  
  <script src="javascript/underscore-min.js"></script>
  <!-- <script src="libs/backbone-0.9.2.min.js"></script> uncomment for backbone -->
  
  <script src="javascript/expert.js"></script>
</head>

<body>
  <!-- the title bar at the top of the screen -->
  <div id="titlebar">

    <!-- title of the app -->
    <img id="corp" src="/static/corp.png"/>
    
    <!-- options that the user has -->
    <span id="options">
    </span>
    
    <!-- Display this warning if we can't connect to them on chat. -->
    {% if not user.is_subscribed and user.is_expert %}
    <div class="warning">
    	Expert Connect is unable to contact you via chat.<br>
    	Please verify that you have completed step 2 on the <a href="/signUp">sign up</a> page.
    </div>
    {% endif %}
    
    <span id="account">
      {% if is_expert %}
        {{user.email}}<br>
        <a href="{{logout}}">Logout</a>
      {% else %}
        <a href="/signUp">Sign up</a> to become an X!<br>
      {% endif %}
    </span>
  </div>
  
  <!-- this contains the two main columns -->
  <div id="column-container" class="test-red">
    
    <!-- navigation column -->
    <div id="column-1" class="test-green">
      <div id="title">x on-call</div>

      <div id="pages">
        <a class="current-page test-orange" href="/">Browse X's'</a>
        {% if is_expert %}
          <a class="other-page test-purple" href="/manageAccount">Manage account</a>
        {% else %}
          <a class="other-page test-purple" href="/signUp">Become an X</a>
        {% endif %}
        <!-- <div id="userfeedback"> -->
        <a class="other-page test-purple" href="https://docs.google.com/a/google.com/forms/d/1as018d-XMV9NWQRhuI8wnWfzoK54bkI4hKZyBLJK8l4/viewform">Feedback</a>
        <a class="other-page test-purple" href="https://docs.google.com/a/google.com/forms/d/1ACzCMY5qBnAsZvGeWO_whuOtNT_PKMWH_kpPF09xq_g/viewform">Recommend a pro</a>
        <!-- </div> -->
        {% if is_admin %}
          <a class="other-page test-purple" href="/admin">Admin</a>
        {% endif %}
      </div>
      
      <div id="mini-navigation-parent">
        <!-- divs in the holding pen with id="mini-navigation" go here -->
      </div>
    </div>
    <div id="column-2" class="test-blue">
      <div id="main-contents-parent">
        <!-- divs in the holding pen with id="main-contents" go here -->
      </div>

    </div> <!-- main column -->  
  </div> <!-- center column -->
  
  <div id="holding-pen" style="display:none">
    
    <!--
    Here we include the actual contents of the page, which will be a
    series of divs of the form:
    
    <div id="XXX">...</div>
    <div id="YYY">...</div>
    
    For now, these divs are in a temporary holding pen and they're
    invisible (display:none), but expert.coffee will search for
    these divs and MOVE them to the appropriate container like so:

    <div id="XXX-parent">
      <div id="XXX">...</div>
    </div>
    <div id="YYY-parent">
      <div id="YYY">...</div>
    </div>
    
    Once moved the divs will be visible.
    -->
    
    {% include contents %}
    
  </div>
  
  <!-- random javascript stuff -->
	<script type="text/javascript" src="/_ah/channel/jsapi"></script>
	<script type="text/javascript" src="/static/main.js"></script>
  <script>
    channel = new goog.appengine.Channel('{{ token }}');
    socket = channel.open();
    socket.onopen = onOpened;
    socket.onmessage = onMessage;
    socket.onerror = onError;
    socket.onclose = onClose;
  </script>
</body>
</html>
