<html>
<head>
  <title>Account Management</title>
  <link rel="stylesheet" type="text/css" href="/static/base.css" />
</head>
<body>
  <!-- the title bar at the top of the screen -->
  <div id="titlebar">

    <!-- title of the app -->
    <span id="title">Account Management</span>
    
    <!-- options that the user has -->
    <span id="options">
    </span>
		
		<span id="account">
			<span id="accountdetails">
			  {{email}}
				<br>
				<a href={{logout}}>Logout</a>
			</span>
			<img class="profilepic" src="{{profile_pic}}">
		</span>
  </div>

  <form method="POST" action="/manageAccount">
  {% for category in categories %}
    <input class="checkbox" type="checkbox" name="{{category.name}}" value="true"
		{% if category.checked %}
			checked
		{% endif %}>{{category.name|title}}<br>
  {% endfor %}
	<input class="submitbutton" type="submit">
  </form>

</body>
</html>
