<div id="main-contents">
  <p>Step 1: <a href="{{ url }}">Grant</a> Expert Connect permission to read your
  Google+ profile information.</p>
  {% if has_credentials %}
    <!-- <p>Step 2: Invite <b>xpertconnect@appspot.com</b> as a contact in Gchat.</p>
    <img id="invitetochat" src="/static/invitetochat.png"> -->
    <p>Step 2: Allow expert connect to send you a message through Gchat when a user requires your expertise.</p><br>
      <div class="indent">
        <a href="/sendInvite">Invite</a> me to be a contact<br><br>
        Accept the invitation<br>
      </div>
    <p>Step 3: Continue to the <a href="/manageAccount">account management</a> page and fill out your expertise!</p>
  {% endif %}
</div>
